.bgimg
{
    background-image: url("unnamed.jpg");
    background-repeat: no-repeat;
    background-size: 1366px 700px;
}
.div1
{
    margin: 70px 100px 100px 375px;
    height: 400px;
    width: 540px;
    opacity: 0.6;
    box-shadow: 0px 0px 20px grey;
    background-color: white;
    border-radius: 20px 20px 20px 20px;

}
#text
{
    font-weight: bold;
    text-align: center;
    padding-top: 50px;
}
.nam
{
    width: 510px;
    padding-left: 50px;
    padding-top: 40px;
}
.btn1
{
    padding-left: 250px;
    padding-top:40px;
}
